# Exclude virtual environments
my_env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo

# Cache files
*.cache
*.log

# Git files
.git

# Ignore IDE/editor config files
.vscode/
*.swp
*.swo
.idea/